@page
@model BeerAnarchists.Pages.PostReplyPageModel
@{
  ViewData["Title"] = "Reply";
}

<div>

</div>

<div>
  <form method="post" enctype="multipart/form-data">

        <label asp-for="ReplyContent" class="form-label"></label>
        <textarea asp-for="ReplyContent" class="form-control" cols="40" rows="5"></textarea>

        <label asp-for="UploadedImage" class="form-label"></label>
        <input type="file" class="form-control" name="UploadedImage">
        @Html.HiddenFor(m => m.PostId)
        @Html.HiddenFor(m => m.ReplyAuthorId)
        <input type="submit" class="btn btn-success" value="Add post to thread">
</form>
</div>
