@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container pt-3">
  <div class="row">

  </div>
  <div class="row text-center">
    <h1>Privacy Policy</h1>
    <p>In the current age and day privacy is more important than ever. You never know who will harvest your data and for which purpose.</p>
    <p>Therefore it is very important to note that:</p>
    <h5><strong><i>We dont care</i></strong></h5>
    <p>All data can and most likely will be obtainable through a public API, even a dump of the account database</p>
    <h5>Therefore you should </h5>
  <ol style="list-style-position:inside">
    <li>Never use your real email, just make some shit up</li>
    <li>Dont write things you would not want both your mother and greatest enemy to know</li>
    <li>Never share personal data with everyone</li>
    <li>Trust no one, live happy, die alone</li>
  </ol>
  </div>
  <div class="row text-center">
    <h3>Forum Rules</h3>
    <ol style="list-style-position:inside">
      <li>Admin is always right</li>
      <li>Dont post illegal content</li>
      <li>Be noice to people</li>
      <li>It rubs the lotion on its skin or it gets the hose again</li>
      <li>Cheers!</li>
    </ol>
  </div>
</div>
